body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #cccccc;
  color: #333;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.back-button:hover {
  background-color: #b0b0b0;
}

#admin {
  max-width: 800px;
  margin: 80px auto 40px auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

h2 {
  color: #3b5e00;
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  color: #333;
  margin-top: 30px;
  margin-bottom: 10px;
}

select {
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
  background-color: #fff;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
}

th {
  background-color: #eaf2d3;
  text-align: left;
}

td {
  background-color: #fff;
}

.user-overview p {
  font-size: 16px;
}

.user-results {
  margin-top: 30px;
}

.field-accuracy,
.subcategory-accuracy {
  margin-top: 20px;
}

.correct {
  text-align: center;
  color: green;
}

.incorrect {
  text-align: center;
  color: red;
}

.subcategory-accuracy {
  display: none;
}
