<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>解答完了</title>
  </head>
  <body>
    <div id="complete-area">
      <h2>Complete!</h2>
      <p class="message">すべての問題を解き終わりました。</p>
      <div class="complete-buttons">
        <div class="complete-button" (click)="navigateToTop()">トップに戻る</div>
        <div class="complete-button" (click)="navigateToScore()">成績詳細</div>
      </div>
    </div>
  </body>
</html>
